// Colors, created with ColorSpace, now settled 

$primary: #171717;
$secondary: #e6e6e6;
$accent1: #677e84;
$accent2: #84a6a5;
$accent3: #1e1e1e;

// Fonts
$sans-ui: "Questrial", sans-serif;
$sans-ui-opt: auto;
$sans-ui-stl: normal;

$sans-text: "Geist Mono", monospace;
$sans-text-opt: auto;
$sans-text-stl: normal;
